%btn{
  background: rgba(47, 115, 219, 0.8);
  padding: 15px 30px;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  font-family: Ubuntu;
  cursor: pointer;
}